:root{
    --test: 'asdf'
}

html{
    height: 100%;
}

body{
    height: inherit;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, blue, purple);
    height: 75px;
    font-weight: bold;
    color: white;
    font-size: 36px;
}

#main-container{
    border: 5px solid black;
    height: inherit;
    display: flex;
    justify-content: row;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#search-div{
    border: 3px solid red;
}

#info-div{
    border: 3px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.spacer{
    border: 2px solid grey;
}

#search-btn{
    border-radius: 5px;
    background-color: rgb(26, 170, 228);
}

#forecast-display{
    border: 2px solid green;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

#info-display{
    border: 2px solid yellow;
}

.forecast-container{
    
    background-color: blue;
}